.embla__roadmap {
    margin: auto;
    --slide-height: 23rem;
    --slide-spacing: 1rem;
    max-width: 60vw;
}
.embla__roadmap__viewport {
    overflow: hidden;
}
.embla__roadmap__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__roadmap__slide {
    transform: translate3d(0, 0, 0);
    min-width: 0;
    padding-left: var(--slide-spacing);
    flex: 0 0 auto;
}

.embla__product {
    margin: auto;
}
.embla__product__viewport {
    overflow: hidden;
}
.embla__product__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
}
.embla__product__slide {
    aspect-ratio: 16/9;
    transform: translate3d(0, 0, 0);
    min-width: 0;
    flex: 0 0 auto;
}
.cutout {
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}


.embla__testimonial {
    max-width: 90vw;
    width: calc(43rem*3 + 1rem*2);
    margin: auto;
    --slide-spacing: 1rem;
}
.embla__testimonial__viewport {
    overflow: hidden;
}
.embla__testimonial__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__testimonial__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 auto;
    min-width: 0;
    padding-left: var(--slide-spacing);
}
